<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="generator" content="content">
	<title><%= @page_title %></title>
	<% @relative_assets.each do |asset| -%>
	  <% asset = Pathname.new(asset) -%>
	  <% asset_type = asset.parent.basename.to_s -%>
	  <% if asset_type == 'stylesheets' -%>
	  <link rel="stylesheet" href="<%= asset %>" type="text/css" media="screen" title="no title" charset="utf-8">
	  <% elsif asset_type == 'javascripts' -%>
	  <script src="<%= asset %>" type="text/javascript" charset="utf-8"></script>
	  <% end -%>
	<% end %>
</head>
<body class="<%= 'flowable' if defined?(flowable) %>">
  <!-- <%= current_file %> -->
  <!-- container -->
  <div id="container">
    <!-- header -->
    <div id="header">
      <div id="top-bar">
        <h1><%= relative_link_to_project %></h1>
      </div>
      <div id="obj-bar">
        <% unless defined?(hide_toc) %>
        <div id="toc-label">Table of Contents</div>
        <% end %>
        <div id="main-label"><%= @page_title %></div>
        <div id="hdr-controls">
          <input type="search" results="10" />
        </div>
      </div>
    </div>
    <!-- /header -->

    <!-- content -->
      <%= yield %>
    <!-- /content -->
    
  </div>
  <!-- /container -->
  <div id="footer">
    <ul id="trail">
      <li><%= relative_link_to_project %></li>
      <li><%= @page_title %></li>
    </ul>
    <a href="#plug" id="plug">Exposition Delivered</a>
  </div>
</body>
</html>
