     <%= partial('toc') %>      
      <!-- main -->
      <div id="main">        
        <h3><%= @page_title %></h3>
        <%= partial('info') %>
        
        <% if @object.documentation && @object.documentation.empty? -%>
        <h4 id="overview">Overview</h4>
        <%= markdown(@object.documentation.summary) %>
        <% end -%>
        
        <% tasks = tasks_for_object(@object) %>        
        
        <% if tasks.any? %>
        <h4 id="tasks">Tasks</h4>
        <% tasks.each do |key, members| %>
        <h5 id="<%= id_for_task(key, @object) %>"><%= key %></h5>
        <ul class="members">
          <% members.each do |member| %>
          <li><a href="#<%= member.ref %>" title="<%= member.name %>"><%= member.name %></a> <% if member.is_a?(Properties::Property) %><span class="prop">property</span><% end %></li>
          <% end %>
        </ul>
        <% end %>
        <% end %>
        
        <%= partial 'member', :locals => {:members => @object.properties, :title => 'Properties'} %>
        <%= partial 'member', :locals => {:members => @object.class_methods, :title => 'Class Methods'} %>
        <%= partial 'member', :locals => {:members => @object.instance_methods, :title => 'Instance Methods'} %>
      </div>
      <!-- /main -->