     <%= partial('../common/toc') %>      
      <!-- main -->
      <div id="main">        
        <h3><%= @page_title %></h3>
        <%= partial('../common/info') %>
        
        <% if @object.documentation && @object.documentation.empty? -%>
        <h4 id="overview">Overview</h4>
        <%= markdown(@object.documentation.summary) %>
        <% end -%>
        
        <% tasks = tasks_for_object(@object) %>        
        
        <% if tasks.any? %>
        <h4 id="tasks">Tasks</h4>
        <% tasks.each do |key, members| %>
        <h5 id="<%= id_for_task(key, @object) %>"><%= key %></h5>
        <ul class="members">
          <% members.each do |member| %>
          <li><a href="#<%= member.ref %>" title="<%= member.name %>"><%= member.name %></a> <% if member.is_a?(Properties::Property) %><span class="prop">property</span><% end %></li>
          <% end %>
        </ul>
        <% end %>
        <% end %>
        
        <% if @object.properties.any? %>
        <h4>Properties <a name="<%= anchor_for_collection(@object.properties) %>"></a></h4>
        <ul class="member-list">
          <%= partial('../common/member', :collection => @object.properties) %>
        </ul>
        <% end %>
  
        <% if @object.class_methods.any? %>
        <h4>Class Methods <a name="<%= anchor_for_collection(@object.class_methods) %>"></a></h4>
        <ul class="member-list">
          <%= partial('../common/member', :collection => @object.class_methods) %>
        </ul>
        <% end %>
        
        <% if @object.instance_methods.any? %>
        <h4>Instance Methods <a name="<%= anchor_for_collection(@object.instance_methods) %>"></a></h4>
        <ul class="member-list">
          <%= partial('../common/member', :collection => @object.instance_methods) %>
        </ul>
        <% end %>
      </div>
      <!-- /main -->